*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
a{
	text-decoration: none;
	color: white;
	font-family: 微软雅黑;
	font-size: 20px;
}
a:hover{
	color: #00ffff;
}
.top-bg-img{
	height: 120px;
	background-image: url(../img/top_bg.jpg);
	padding-top: 40px;
}
.logo{
	width: 1200px;
	height: 40px;
	line-height: 40px;
	padding-left: 200px;
	float: left;
}
.timer{
	height: 40px;
	line-height: 40px;
	text-align: right;
	margin-right: 70px;
}
.logo h3{
	color: white;
	font-size: 28px;
	font-weight: bold;
	font-family: 微软雅黑;
}
.nav-bg{
	height: 60px;
	background-color: #1E5AB3;
	line-height: 60px;
}
.nav{
	height: 60px;
	line-height: 60px;
	width: 1400px;
	margin: 0 auto;
	
}
.top-menu{
	height: 60px;
	width: 1000px;
	float: left;
}
.top-search{
	width: 400px;
	float: left;
}
.top-ul{
	list-style: none;
	float: left;
	padding-left: 25px;
}
.top-ul li{
	float: left;
	padding: 0 25px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	font-family: 微软雅黑;
}
.search{
	border-radius: 15px;
	border-color: #00FFFF;
	height: 30px;
	width: 200px;
}
.clear{
	clear: both;
}
.where{
	height: 50px;
	background-color: navajowhite;
	line-height: 50px;
	padding-left: 300px;
}
.gather-info-frame{
	width: 1400px;
	height: 600px;
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 50px;
}
.left-side{
	height: 550px;
	width: 290px;
	float: left;
}
.info-body{
	width: 900px;
	height: 550px;
	float: right;
}
form{
	font-size: 20px;
	text-align: left;
}
form input{
	border-radius: 15px;
	height: 23px;
	margin-left: 20px;
	
}
form label{
	padding-left: 20px;
}
.top-frame{
	height: 50px;
	line-height: 50px;
	padding-left: 30px;
	font-size: 25px;
	color: #333;
}
.top-frame a{
	color: #FF1493;
	
}
.info-title{
	height: 50px;
	line-height: 50px;
	float: right;
	width: 1000px;
	padding-left: 20px;
	font-size: 25px;
	font-weight: bold;
	color: #333;
}
.rule{
	margin-top: 10px;
	margin-left: 300px;
}
.reset{
	position: absolute;
	right: 350px;
	bottom: 160px;
}
.submit{
	position: absolute;
	right: 400px;
	bottom: 160px;
}
.footer{
	height: 130px;
	background-color: #1E5AB3;
	padding-left: 300px;
	padding-top: 20px;
}
.contact{
	height: 25px;
	width: 540px;
}
.footer a{
	font-size: 15px;
}
.copyright{
	height: 60px;
	width: 540px;
	color: white;
	font-size: 15px;
}
.footer-ul{
	list-style: none;
	float: left;
}
.footer-ul li{
	float: left;
	padding: 0 5px;
	color: white;
	font-family: 微软雅黑;
}
.spilt{
	color: #999999;
}
form span{
	color: #999999;
}
