/*移除默认样式*/
*{
	padding: 0;
	margin: 0;
	color: #333;
}
a{
	text-decoration: none;
	color: #333;
}
a:hover{
	color: deeppink;
}
.top{
	background-color: #999;
	height: 50px;
	line-height: 50px;
}
.w1200{
	background-color: #FF1493;
	width: 1200px;
	margin: 0 auto;
}
.nav{
	height: 140px;
	background-color: #FFA500;
}
.logo{
	height: 110px;
	background-color: aquamarine;
	margin: 0 auto;
}
.nav-list{
	height: 30px;
	background-color: lightgoldenrodyellow;
	line-height: 30px;
}
.type{
	background-color: orangered;
	width: 190px;
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding-left: 20px;
	box-sizing: border-box;
	float: left;
}
.myul{
	list-style: none;
	float: left;
}
.myul a{
	font-size: 14px;
	font-family: 微软雅黑;
}
/*浮动元素需要高度才显示*/
.myul li{
	float: left;
	padding: 0 15px;
}
.title-color{
	color: orange;
}
.spilt{
	color: #999999;
}
.body{
	background-color: #7FFFD4;
	height: 100px;
}
.clear{
	clear: both;
}
.loc{
	float: left;
	background-color: #FF4500;
	width: 100px;
}
.top-menu{
	float: right;
	list-style: none;

}
.top-menu li{
	float: left;
	padding: 0 15px;
	background-color: gold;
	margin-right: 0;
}
